<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de funcionarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body><a href="/">Home</a>
    <%
        for(i=0; i < busca.id.length; i++){
            %><span></span> <%
        }
    %>

    <table class="table table-striped w-75 mx-auto my-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Carga horaria</th>
          </tr>
        </thead>
        <tbody>
          <%
            for(i=0; i < busca.id.length; i++)
            {
                %>
                <tr>
                    <th scope="row">
                        <%=busca.id[i]%>
                    </th>
                    <td>
                        <%=busca.nome[i]%>
                    </td>
                    <td>
                        <%=busca.cargo[i]%>
                    </td>
                    <td>
                        <%=busca.ano_nascimento[i]%>
                    </td>
                    <td>
                        <%=busca.carga_horaria[i]%>
                    </td>
                </tr>
                <%
            }
          %>
        </tbody>
      </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>